{% extends 'base.html' %}

{% block content %}
<br>
<hr>
{% if error %}
<div class="alert alert-danger" role="alert">
{{ error }}
</div>
<br><br>
{% endif %}
<!--<h1>Login!</h1>-->
<!--<form method="POST" action="{% url 'login' %}">-->
<!--	{% csrf_token %}-->
<!--	<div class="form-group col-md-4">-->
<!--		<label>User Name:</label>-->
<!--		<input type="text" class="form-control" name="username">-->
<!--		<br>-->
<!--		<label>Password:</label>-->
<!--		<input type="password" name="password" class="form-control">-->
<!--		<br>-->
<!--		<button type="submit" class="">Login</button>-->
<!--		<a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>-->
<!--	</div>-->
<!--</form>-->

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Login Form -->
	  <br>
	  <br>
    <form method="POST" action="{% url 'login' %}">
		{% csrf_token %}
		<h4>Login</h4>
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password"><br><br>
      <button type="submit" class="button">Login</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="{% url 'signup' %}">New User ? Signup.</a>
    </div>

  </div>
</div>
<br>
<hr><br>

{% endblock %}
