{% extends 'base.html' %}

{% block content %}
<br>
<hr>
{% if error %}
<div class="alert alert-danger" role="alert">
{{ error }}
</div>
<br><br>
{% endif %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Login Form -->
	  <br>
	  <br>
    <form method="POST" action="{% url 'signup' %}">
		{% csrf_token %}
		<h4>Sign Up!</h4>
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
      <input type="password" id="password" class="fadeIn third" name="password1" placeholder="password">
		<input type="password" id="password" class="fadeIn third" name="password2" placeholder="Confirm password"><br><br>
      <button type="submit" class="button">Sign Up!</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="{% url 'login' %}">Login.</a>
    </div>

  </div>
</div>
<br>
<hr><br>


{% endblock %}
